[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
